<div class="login-form">
    <h3>Entrar</h3>
    <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
      <div class="form-group">
        <input class="form-input" type="email" id="email" name="email" [(ngModel)]="user.email" required [ngClass]="{'error': loginError}" placeholder="Email">
        <input class="form-input" type="password" id="password" name="password" [(ngModel)]="user.password" required [ngClass]="{'error': loginError}" placeholder="Senha">
      </div>
      <div *ngIf="loginError" class="error-message">Login ou senha incorreto</div>
      <span class="register">Não possui conta?<a href="/register"> Registrar</a></span>
      <div class="form-submit">
        <button type="submit" [disabled]="!registrationForm.valid">Login</button>
      </div>
    </form>
  </div>
  