<div *ngIf="!isLoading" class="main-container">
    <span class="w100 logout" (click)="logout()">Sair</span>
    <div class="current-balance">
        <div>
            <p class="description">Saldo</p>
            <h2 class="balance">R$ {{walletData?.balance}}</h2>
        </div>
        <div class="monthly-balance">
            <p class="description month">Saldo no mês</p>
            <h4 class="balance">{{monthBalance}}</h4>
        </div>
    </div>
    <div class="filters">
        <button [class.selected]="dateFilter === 'All'" class="filters__button" (click)="toggleAll()">Tudo</button>
        <button [class.selected]="dateFilter === 'Month'" class="filters__button" (click)="toggleMonth()">Mês</button>
        <button [class.selected]="dateFilter === 'Week'" class="filters__button" (click)="toggleWeek()">Semana</button>
    </div>
    <div class="operations-data" *ngFor="let operation of operations">
        <p class="operation-category">{{ operation.category }}</p>
        <p [class.red]="operation.type === 'expense'" [class.green]="operation.type === 'income'">{{ operation.amount }}</p>
    </div>
    <div class="w100 update-balance">
        <button class="balance-update-btn" (click)="updateBalance()">Atualizar movimentações</button>
    </div>
</div>