<div class="main-container">
    <h4>Saldo atual: {{walletData?.balance}}</h4>
    <p>Economia no mês: {{monthBalance}}</p>
    <p>{{percentage}} de economia</p>
    
    <h2>Movimentações no mês:</h2>
    <div [class.red]="operation.type === 'expense'" [class.green]="operation.type === 'income'" class="operations-data" *ngFor="let operation of monthlyOperations">
        <p>{{ operation.category }}</p>
        <p>{{ operation.amount }}</p>
    </div>
    
    <button (click)="updateBalance()">Update balance</button>
</div>