<div class="registration-form">
    <h3>Registrar</h3>
    <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
      <div class="form-group">
        <input class="form-input" type="text" id="name" name="name" [(ngModel)]="user.name" required placeholder="Nome">
        <input class="form-input" type="email" id="email" name="email" [(ngModel)]="user.email" required placeholder="Email">
        <input class="form-input" type="password" id="password" name="password" [(ngModel)]="user.password" required placeholder="Senha">
        <input class="form-input" type="password" id="confirm-password" name="confirm-password" [(ngModel)]="user.confirmPassword" required placeholder="Confirmar senha">
      </div>
      <div class="login">
        <span>Já possui conta?<a href="/login"> Entrar</a></span>
      </div>
      <div class="form-submit">
        <button type="submit" [disabled]="!registrationForm.valid">Registrar</button>
      </div>
    </form>
  </div>
  